@import "./01-variables.less";

.slider {
  height: 100%;

  &__item {
    position: relative;
    height: calc(100vh - @headerHeight);

    display: flex;
    align-items: flex-end;
    padding-bottom: 5%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .bp(@xl, {
      padding-bottom: 5%;
    });

    .bp(@md, {
      padding-bottom: 0;
      align-items: center;
      height: calc(100vh - @mobileHeaderHeight);
    });

    &--f {
      background-image: url("../img/start-img-1.jpg");
      background-image: url("../img/start-img-1.webp");
    }

    &--s {
      background-image: url("../img/start-img-2.jpg");
      background-image: url("../img/start-img-2.webp");
    }

    &--t {
      background-image: url("../img/start-img-3.jpg");
      background-image: url("../img/start-img-3.webp");
    }
  }

  &__item-wrapper {
    //height: 100%;
    //padding: 605px 0 162px;
    display: flex;
    justify-content: space-between;

    .bp(@md, {
      flex-direction: column;
    });
  }

  &__left {
    .bp(@md, {
      margin-bottom: 30px;
    });
  }

  &__right {
    .bp(@md, {
      margin-right: 1.2em;
    });
  }

  &__title {
    margin-bottom: 40px;
    max-width: 555px;

    font-weight: bold;
    font-size: 3em;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2.7px;

    .bp(@md, {
      font-size: 2em;
    });
  }

  &__text {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.79;
  }

  &__right {
    align-self: flex-end;
  }

  &__para {
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: #ffffff;
    opacity: 0.6;
    letter-spacing: 1px;

    &--bold {
      font-weight: bold;
      opacity: 1;
      text-transform: uppercase;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
