@import "./01-variables.less";

.cards {
  padding-top: 53px;

  &__title {
    margin-bottom: 53px;

    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__list {
    display: grid;
    //grid-template-columns: repeat(5, 20fr);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    margin-bottom: 60px;

    .bp(@lg, {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    });
  }

  &__btn-wrapper {
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
  }

  &__btn-loader {
    display: none;
  }

  &__btn {
    &--loading .btn__text {
      display: none;
    }

    &--loading .cards__btn-loader {
      display: block;
    }

    &--loading:hover .loader__circle {
      background-color: @brown;
    }
  }
}
