@import "./01-variables.less";

.popup {
  width: 90%;
  height: 80%;
  max-height: 880px;
  display: flex;
  -webkit-animation: scalePopup 0.5s ease;
  animation: scalePopup 0.5s ease;

  .bp(@xl, {
    height: 90%;
  });

  .bp(@md, {
    height: 95%;
  });

  &--hide {
    -webkit-animation: hidePopup 0.5s ease;
    animation: hidePopup 0.5s ease;
  }

  &__left {
    width: 45%;
    height: 100%;

    background-color: rgb(2, 2, 2);
    background-image: url("../img/popup-img.png");
    background-image: url("../img/popup-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: skewX(-3deg);

    .bp(1565px, {
        display: none;
    });
  }

  &__right {
    padding: 50px 90px 0;
    width: 55%;
    background: #131313;
    transform: skewX(-3deg);

    .bp(1565px, {
        width: 100%;
    });

    .bp(@md, {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 25px;
  });
  }

  &__content-wrapper {
    position: relative;
    transform: skewX(3deg);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    position: relative;
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 3em;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;

    .bp(@xl, {
      font-size: 2em;
    });

    .bp(@md, {
      font-size: 1.5em;
    });
  }

  &__desc {
    margin-bottom: 50px;

    font-size: 14px;
    line-height: 1.5;
    color: #808080;

    .bp(@xl, {
      margin-bottom: 30px;
    });
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 20px;

    .bp(@lg, {
      margin-bottom: 10px;
    });
  }

  &__label {
    position: absolute;
    left: 36px;
    top: 22px;

    font-weight: bold;
    font-size: 1.1em;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    transition: all @linear;

    .bp(@lg, {
      font-size: 0.8em;
      
    });

    .bp(@md, {
      left: 18px;
    });

    &--active {
      font-size: 11px;
      transform: translateY(-11px);
    }
  }

  &__input {
    width: 100%;
    border: 1px solid #2b2b2b;
    padding: 22px 36px 22px;
    height: 70px;
    font-size: 1.2em;
    color: #fff;
    background: #131313;
    transition: border-color @linear;
    cursor: pointer;

    .bp(@lg, {
      height: auto;
      padding: 11px 36px 11px;
    });

    .bp(@md, {
      padding-left: 18px;
      padding-right: 18px;
    });

    &:hover,
    &:active,
    &:focus {
      border-color: #fff;
      color: #fff;
    }

    &--textarea {
      height: 150px;
      resize: none;
    }

    &--required {
      border-color: #dd1616;
    }
  }

  &__form-bottom {
    display: flex;
    align-items: flex-start;

    .bp(@md, {
      flex-direction: column;
    });
  }

  &__agreement {
    margin-left: 60px;
    margin-right: 60px;
    transition: color @linear;

    &:hover {
      color: #fff;
    }

    .bp(@md, {
      order: -1;
      font-size: 0.7em;
      margin: 0 0 10px 0;
    });
  }

  &__agreement-link {
    font: inherit;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    transform: skewX(-10deg);

    width: 107px;
    height: 70px;
    border: 1px solid #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color @linear;

    .bp(@md, {
      width: 60px;
      height: 40px;
      transform: skewX(-10deg) translate(70%, -50%);
    });

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 90%;
      background-color: #fff;
      transition: background-color @linear;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      border-color: #fff;
    }

    &:hover::before,
    &:hover::after {
      background-color: @brown;
    }
  }
}

@-webkit-keyframes scalePopup {
  0% {
    transform: scale(0);
    transform-origin: center;
  }

  100% {
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes scalePopup {
  0% {
    transform: scale(0);
    transform-origin: center;
  }

  100% {
    transform: scale(1);
    transform-origin: center;
  }
}

@-webkit-keyframes hidePopup {
  0% {
    transform: scale(1);
    transform-origin: center;
  }

  100% {
    transform: scale(0);
    transform-origin: center;
  }
}

@keyframes hidePopup {
  0% {
    transform: scale(1);
    transform-origin: center;
  }

  100% {
    transform: scale(0);
    transform-origin: center;
  }
}
